#heading {
    color: blue;
    background-color: yellow;
}

.heading1 {
    color: rebeccapurple;
    background-color: darkorange;
}

body {
    background-color: palevioletred;
}

button {
    background-color: blue;
    color: white;
}

#divid {
    background-color: white;
}